name: "update"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"
permissions:
  pull-requests: "write"
  contents: "write"
jobs:
  flake-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - run: nix flake update
      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: "chore(deps): update flake lock"
          title: "chore(deps): update flake lock"
          branch: flake-updates
          delete-branch: true
          token: ${{ secrets.ARIA2_EXPORTER_UPDATE_ACTION_PR }} # needs to be created by human to trigger action runs
