name: "update"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"
permissions:
  pull-requests: "write"
  contents: "write"
jobs:
  flake-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - run: nix flake update
      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          commit-message: "chore(deps): update flake lock"
          title: "chore(deps): update flake lock"
          branch: flake-updates
          delete-branch: true
          token: ${{ secrets.ARIA2_EXPORTER_UPDATE_ACTION_PR }} # needs to be created by human to trigger action runs
