name: "update"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"
permissions:
  pull-requests: "write"
  contents: "write"
jobs:
  flake-lock:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0
      - run: nix flake update
      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "chore(deps): update flake lock"
          title: "chore(deps): update flake lock"
          branch: flake-updates
          delete-branch: true
          token: ${{ secrets.ARIA2_EXPORTER_UPDATE_ACTION_PR }} # needs to be created by human to trigger action runs
